@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,900;1,200;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    display: flex;
    background-color: #101010;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family:'Source Code Pro', monospace;
}

.btn{
    background-color: #3333;
    color: #ff6347;
    text-align: center;
    font-size: 1.1em;
    padding: 1em 3em;
    margin: 1em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.btn:hover{
    transform: scale(1.05);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}