@import url("https://fonts.googleapis.com/css2?family=poppings:,wght@0,200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

:root {
  --main-bg: #101112;
  --movie-bg: #222324;
  --font-color: #f3fdff;
}
body {
  font-family: "poppings", sans-serif;
  background-color: var(--main-bg);
  color: var(--font-color);
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--movie-bg);
}
.heading{
    text-align: center;
    display: block;
    margin: auto auto;
    font-size: 2rem;
}

.search {
  background-color: transparent;
  padding: 0.6rem 1rem;
  border: 2px solid var(--main-bg);
  border-radius: 20px;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  color: var(--font-color);
}

.search::placeholder {
  color: #454545;
}

.search:focus {
  background-color: var(--main-bg);
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin: .5em auto;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--movie-bg);
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.8), 
  -1px -2px 2px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.movie img {
  width: 100%;
}

.movie-info{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0 10px;
    align-items: center;
}
.movie-info span{
    background-color: var(--main-bg);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}
.movie-info span.green{
    color: green;
}
.movie-info span.red{
    color: red;
}
.movie-info span.orange{
    color: orange;
}

.overview{
    background-color: #454545;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease;
}

.movie:hover .overview{
    transform: translateY(0);
}