@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,900;1,200;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
}
.bg{
    background: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80") no-repeat center center/cover;
    position: absolute;
    top: -40px;
    left: -40px;
    height: calc(100vh + 80px);
    width: calc(100vw + 80px);
    z-index: -1;
    filter: blur(0px);
    
}

.loading-text{
    font-size: 50px;
    /* background-color: rgba(0, 0,0, 0.3); */
    padding: 20px;
    color: #030022;
}