@import url("https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,200;400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background-color: #011522;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  font-family: "poppins", "sans-serif";
}
.user_form {
  width: 100%;
  text-align: center;
}
 .card.err {
  width: 100%;
  display: flex;
  text-align: center;
}
input {
  padding: 1rem;
  outline: none;
  border: none;
  background: linear-gradient(145deg, #011522, #011522);
  width: 50%;
  max-width: 700px;
  box-shadow: inset 1px 2px 3px #011019, inset -1px -2px 3px #000e17;
  color: #fff;
  border-radius: 10px;
}
main {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background: linear-gradient(145deg, #011522, #011522);
  box-shadow: 3px 3px 6px #011019, -3px -3px 6px #000e17;
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 50%;
  max-width: 700px;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.card_socials a {
  text-decoration: none;

  color: aqua;
  font-size: 0.9rem;
  transition: 0.5s ease-in-out;
}
.card_socials a:hover {
  color: #9b9b9b;
  transform: scale(1.1);
}
.card_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid #000e17;
}
.card_img img {
  width: 100%;
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
}
.card_info p {
  margin: 1.2rem 0;
}
ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
ul li {
  list-style: none;
  font-size: 0.7rem;
  margin-right: 4px;
  margin-bottom: 5px;
}

#repos {
  margin: 1rem 0;
}
.repo {
  text-decoration: none;
  font-size: 0.7rem;
  color: #9b9b9b;
  margin: 10px 0;
  overflow-wrap: normal;
  padding: 4px 7px;
  border-radius: 10px;
  background-color: #000e17;
  transition: 0.5s ease-in-out;
}
.repo:hover {
  color: aqua;
}
@media (max-width: 912px) {
  input,
  .card {
    width: 70%;
  }
}

@media (max-width: 540px) {
  input,
  .card {
    width: 90%;
    padding: 1rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
