* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  background: #545454;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* color: #efefef; */
}
/* before*/
/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#dc0000, #d60b1f);
  clip-path: polygon(30% 10%, 60% 40%, 30% 75%);
} */
/* after*/
/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00a6ff, #4c00ff);
  clip-path: circle(20% at 70% 75%);
} */
.card {
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  width: 350px;
  background-color: #efefef;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);*/
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.4), -1px -6px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}
.card-header {
  width: 100%;
  height: 200px;
}
.card-header img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}
.card-content {
    margin: 0;
  width: 100%;
  padding: 0 20px 20px;
}
.card-title {
  margin: 0;
}
.card-excerpt {
  color: #5f5f5f;
  margin: 10px 0 20px;
}
.author {
  display: flex;
  align-items: center;
}
.profile-img img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.author-info {
  display: flex;
  flex-direction: column;
}

.author-info small {
  color: #5f5f5f;
}


.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}